body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white
}

h1 {
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 55px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 20px;
    font-size: 1.1rem;
}

main {
    text-align: center;
}

.fun-facts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fun-facts-list-item {
    margin-top: 20px;
    font-size: 1.2rem;
}

footer {
    margin-top: 50px;
    text-align: center;
}